.section_about {
    position: relative;
    .draw-svg {
        
        position: absolute;

        svg {
            width: 100%;
        }
    } 
}

.draw-svg.about-floral-1 {
    width: 300px;
    bottom:-26%;
    left: -17%;
    transform: rotate(70deg);
}


.draw-svg.about-floral-2 {
    width: 235px;
    bottom:-20%;
    right:-5%;
}



.section_about-container {
    .section_about-img {
        margin: 0 auto;
        width: 200px;
        height: 200px;
        background: url(../assets/headshot.png) top / cover no-repeat $white;
        border-radius: 50%;
    }
    .section_about-text {
        margin: 0 20px;
        .section_about-resume a {
            
            font-weight: $font-weight-semibold;
        }
    }
}


@media (min-width:$breakpoint-lg) { 
    .section_about-container {
        display: flex;
        justify-content:space-around;
    }

    .section_about-text {
        width:75%;
    }
}