.section_about {
    position: relative;
    .draw-svg {
        position: absolute;
        svg {
            width: 100%;
        }
    } 
}

.draw-svg.about-floral-1 {
    width: 230px;
    top: -8%;
    right:-10%;
    transform: rotate(63deg);
}

.section_about-container {
    .section_about-img {
        background: url(../assets/headshot.png) top / cover no-repeat $white;
        border-radius: 50%;
        width: 230px;
        height: 230px;
        margin: 0 auto;
    }
    .section_about-text {
        margin: 0 20px;
        a {
            font-weight: $font-weight-semibold;
        }
    }
}

@media (min-width:$breakpoint-md) { 
    .draw-svg.about-floral-1 {
        width: 235px;
        top: unset;
        bottom: -20%;
        right:-4%;
        transform: rotate(0deg);
    }
}

@media (min-width:$breakpoint-lg) { 
    .section_about-container {
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .section_about-text {
        width:55%;
        margin: 0 20px;
    }

    .section_about-img-container {
        width: 25%;
        margin-right: 10px;
    }
}