.section_about {
    position: relative;
    .draw-svg {
        
        position: absolute;

        svg {
            width: 100%;
        }
    } 
}

.draw-svg.about-floral-1 {
    width: 160px;
    top: 2%;
    right:-13%;
    transform: rotate(34deg);
}



.section_about-container {
    .section_about-img {
        margin: 0 auto;
        width: 230px;
        height: 230px;
        background: url(../assets/headshot.png) top / cover no-repeat $white;
        border-radius: 50%;
    }
    .section_about-text {
        margin: 0 20px;
        .section_about-resume a {
            
            font-weight: $font-weight-semibold;
        }
    }
}


@media (min-width:$breakpoint-lg) { 
    .section_about-container {
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .section_about-text {
        width:55%;
        margin: 0 20px;
    }

    .section_about-img-container {
        width: 25%;
        margin-right: 10px;
    }


    .draw-svg.about-floral-1 {
        width: 235px;
        top: unset;
        bottom: -36%;
        right:-4%;
        transform: rotate(0deg);
    }

}