header {
    height: 100vh;
    overflow: hidden;
    // background-color: $white;
    position: relative; 
    background: url(../assets/bg-grid.jpg) top / cover no-repeat $white;
}

.header_main-content {
    position: absolute;
    background: $white;
    border: 2px solid $black;
    z-index: 10;
    width: 85%; 
    right: 0;
    left: 0;
    top: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.social-icons ul {
    display: flex;
    justify-content: center;
    li {
        font-size: $font-size-base;
        margin: 5px;
    }
}

.social-icons.hero-icons ul li {
    font-size: 24px;
    margin: 6px;
}


@media (min-width:$breakpoint-md) { 
    .header_main-content {
        width: 60%;
    }
}

@media (min-width:$breakpoint-lg) { 
    .header_main-content {
        width: 40%;
    }
}