body {
    max-width: 1500px;
    margin: 0 auto;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: $black;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover, 
    &:focus,
    &:active {
        color: $secondary;
    }

}

.wrapper {
    width: 80%;
    margin: 0 auto;
}


.btn {
    text-align:center;
    text-transform: uppercase;
    background-color: $black;
    color: $white;
    transition: background-color 0.2s ease;
    padding: 8px; 
    border-radius: 25px;
    &:hover {
        background-color: $secondary;
        color: $white;
    }
}