body {
    max-width: 1500px;
    margin: 0 auto;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: $black;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover, 
    &:focus,
    &:active {
        color: $secondary;
    }

}

.wrapper {
    width: 80%;
}