nav {
    position: fixed;
    margin: 0 auto;
    background-color:$white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    z-index: 30;
    width:100%;
    max-width: 100%;
    right:0;
    left:0;
    box-shadow: $box-shadow;
    ul {
        display: flex;
        li {
            margin: 10px;
            text-transform: uppercase;
        }
    }
}