nav {
    position: fixed;
    margin: 0 auto;
    background-color:$white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    z-index: 30;
    width:100%;
    max-width: 100%;
    right:0;
    left:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ul {
        display: flex;
        li {
            margin: 10px;
            text-transform: uppercase;
        }
    }
}