
.portfolio_item {
    padding: 25px 0;
    .portfolio_item-img {
        background-color: $light-gray;
        padding: 10px;
    }
}

.portfolio_item:nth-child(even) {
    flex-direction: row-reverse;
    .portfolio_item-img {
        position: relative;
        left: 9%;
        img {
            position: relative;
            right: 10%;
        }
    }
    
}

.portfolio_item:nth-child(odd) {
    .portfolio_item-img {
        position: relative;
        right: 9%;
        img {
            position: relative;
            left: 10%;
        }
    }
    
}


.portfolio_item-description {
    margin: 10px;
    .project-tech {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            font-weight: $font-weight-normal;
            background-color: $light-gray;
            padding: 5px 8px;
            margin-bottom: 8px;
        }
    }
    
    .project-links a:first-child {
        margin-right: 10px;
    }
    
}


@media (min-width:$breakpoint-md) { 
    .portfolio_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0;
        .portfolio_item-img {
            width: 53%;
        }

        .portfolio_item-description {
            width: 47%;
        }
        .portfolio_item-img {
            padding: 25px;
        }
    }
}