@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

@mixin displayFont ($sizeValue) {
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Playfair Display', serif;
    // font-weight: 600;
    line-height: 1.2;
}

@mixin titleFont ($sizeValue) {
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Playfair Display', serif;
    line-height: 1;
}

@mixin bodyFont ($sizeValue) {
    font-size: ($sizeValue/20) * 1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

body { 
    @include bodyFont (20);
}

h1 {
    @include displayFont (45);
    margin: 8px;
}

h2 {
    @include bodyFont (22);
    text-transform: uppercase;
    font-weight: $font-weight-normal;
    margin-bottom: 5px;
}

h3 {
    @include displayFont (32);
    margin-left: 4%;
}

h4 {
    @include bodyFont (28);
    text-transform: uppercase;
    font-weight: $font-weight-semibold;
    margin: 5px 0;
    letter-spacing: 1px;
}

.subheading {
    @include bodyFont (20);
    text-transform: uppercase;
    color: $dark-gray;
    font-weight: $font-weight-normal;
    margin: 0;
}

nav ul li {
    text-transform: uppercase;
}

.project-tech li {
    font-weight: $font-weight-semibold;
}

.color-secondary {
    color: $secondary;
}

.blog_card-title{
    @include displayFont (24);
    text-transform: capitalize;
}

.blog_card-description .subheading,
.blog_card-description .btn-sm {
    @include bodyFont (16);
}

.section_contact-info h5 {
    @include displayFont (50);
    margin:0;
}

footer h3 {
    @include displayFont (24);
    text-align: center;
}

footer p {
    @include bodyFont (16);
    text-align: center;
}


@media (min-width:$breakpoint-md) { 
    h3 {
        text-align: center;
        margin-left: 0;
    }

    .section_contact-info h5 {
        @include displayFont (75);
    }
}