// Colors
$white: white;
$black: #181818;
$light-gray: #f5f5f5;
$dark-gray: #959595;
$secondary: #EC1C24;

// Typography
$font-weight-normal: 400;
$font-weight-semibold: 600;

$font-size-base: 20px;  
$font-size-sm: 16px;  

// Layout
$box-shadow: 0 5px 11px rgba(0, 0, 0, 0.1);

// Media Queries
$breakpoint-sm: 576px;
$breakpoint-md: 785px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
